div.documents-gallery .caption-area .document-metadata dt,
div.documents-gallery .caption-area .document-metadata dd {
    flex: 1;
    max-width: 100%;
    min-width: 100%;
}

div.documents-gallery .caption-area .document-metadata dt {
    text-align: left;
}

div#documents.row.documents-gallery {
    display: flex;
        .thumbnail-container {
            .document-thumbnail {
                height: 160px;
                & > a, .img-thumbnail {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
}
