.navbar.navbar-dark:not(#exhibit-navbar) {
    background-color: #002754 !important;
    color: #fff;
}

.custom-navbar-brand {
    .nav-logo {
        width: 200px;
        height: auto;
        display: block;
    }
}