<%# default partial to display solr document fields in catalog show view -%>
<br>
<div class="dl-invert metadata-default">
  <!--Use ShowPresenter#fields instead-->
  <!-- Currently blacklight_config.show_fields works for rendering the document-->
  <%= render "metadata_fields", fields: blacklight_config.show_fields, document: document %>
  <br/>
  <div id="object-download">
    <%= render_download_item_link(@document) if action_name == "show" %>
  </div>
</div>