// Import gem scss files
@import "bootstrap-tagsinput";
@import "bootstrap";
@import "sir-trevor/main";
@import 'leaflet';
@import "font-awesome";
@import "blacklight/blacklight";
@import "blacklight_gallery/slideshow";
@import "spotlight/spotlight";

//Import custom css files
@import "browse_categories";
@import "catalog_admin";
@import "custom";
@import "custom_blacklight_styles";
@import "custom_blacklight_gallery";
@import "wwi";
@import "dashboard";
@import "pages";
@import "sir_trevor_overrides";

// Import all top-level css files. To include a file in a
// subdirectory, use @import "relative_path/to/file"
//@import "*";