/* Styling for wwi exhibit homepage and navbar */

.card.exhibit-card.wwi-card {
    height: 155px;
}

.card.exhibit-card.wwi-card .wwi-card-overlay {
    background: rgba(3, 3, 3, 0.6);
}

.card.exhibit-card.wwi-card .wwi-card-overlay,
.wwi-card-overlay h2 a.stretched-link {
    color: #fff;
}

#wwi-carousel .wwi-slide img {
    width: 100%;
    max-height: 500px;
}

#wwi-carousel .carousel-control-prev,
#wwi-carousel .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.7);
    height: 90px;
    top: 42%;
    width: 50px;
    border-radius: calc(0.25rem - 1px);
}

#wwi-carousel .front-card-title {
    padding-bottom: 15px;
    padding-top: 15px;
    color: white;
    margin-bottom: 0;
}

#wwi-carousel .front-card-link {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(3, 3, 3, 0.6);
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: calc(0.25rem - 1px);
}

#wwi-carousel .front-card-link:hover {
    color: #fff;
}

#wwi-carousel {
    border-radius: calc(0.25rem - 1px);
    overflow: hidden;
}

.wwi-content-wrapper {
    width: 100%;
}

.wwi-content-wrapper .quote__content {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    width:70%;
    color:#668;
}